[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/rfcarmo/rfc-ems-algashop-ordering.git
[submodule "docs"]
	path = docs
	url = https://github.com/rfcarmo/rfc-ems-algashop-docs.git
